<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gy.lotteryticket">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LoginActivity">

        </activity>
        <activity android:name=".ui.main.HomeActivity">

        </activity>
        <activity android:name=".ui.user.ChangePwdActivity" />
        <activity android:name=".ui.xz.BJCarActivity" />
        <activity android:name=".ui.xz.CCsscActivity" />
        <activity android:name=".ui.xz.LHCActivity" />
        <activity android:name=".ui.main.UserActivity" />
        <activity android:name=".ui.main.CapitalActivity" />
        <activity android:name=".ui.main.GameActivity"></activity>
        <activity android:name=".ui.user.AddBankActivity" />
        <activity android:name=".ui.user.QuPwdActivity" />
        <activity android:name=".ui.user.UserDataActivity" />
        <activity android:name=".ui.user.MessageActivity" />
        <activity android:name=".ui.user.LoginPwdActivity" />
        <activity android:name=".ui.xz.PCDDActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>